.DS_Store
heart+disease/ask-detrano
heart+disease/bak
heart+disease/cleve.mod
heart+disease/cleveland.data
heart+disease/heart-disease.names
heart+disease/hungarian.data
heart+disease/Index
heart+disease/long-beach-va.data
heart+disease/new.data
heart+disease/processed.cleveland.data
heart+disease/processed.hungarian.data
heart+disease/processed.switzerland.data
heart+disease/processed.va.data
heart+disease/reprocessed.hungarian.data
heart+disease/switzerland.data
heart+disease/WARNING
heart+disease/costs/heart-disease.cost
heart+disease/costs/heart-disease.delay
heart+disease/costs/heart-disease.expense
heart+disease/costs/heart-disease.group
heart+disease/costs/heart-disease.README
heart+disease/costs/Index
